DATABASE_URL=postgresql://USER:PASSWORD@HOST/neondb?sslmode=require
TELEGRAM_BOT_TOKEN=123456789:telegram_bot_token
TELEGRAM_CHAT_ID=123456789
SITE_URL=https://ishga-kelib-ketish.vercel.app
ALLOWED_TELEGRAM_PHONES=998998567979
ADMIN_PIN=1122
